Connect Github repository as a drive

In [1]:
!git clone https://github.com/aelukin/WT_data_analysis.git

Cloning into 'WT_data_analysis'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 13 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (13/13), 1.50 MiB | 7.29 MiB/s, done.

Connect *numpy* and *pandas*

In [3]:
import numpy as np
import pandas as pd

Change directory and read the header from the dataset

In [9]:
%cd /content/WT_data_analysis
pd.read_csv('SCADA_wt.csv').head()

/content/WT_data_analysis

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286